.CountriesNav{
    width: 20%;
    display: flex;
}

.CountriesNavWrap{
    width: 100%;
    margin-top: 76px;
}

.wrapForRoutes{
    margin-left: 20px;
}

.DivForHotelSerching{
    width: auto;
}

.InputForHotelSearching{
    width: 76%;
    border-radius: 3px 0 0 3px;
}

.InputForHotelSearching:focus{
    outline: none;
}

.btnForHotelSearch{
    position: absolute;
    border-left: none;
}

.DivForCountriesList{
    width: 90%;
    height: auto;
}

.showSelectedList{
    height: auto;
    display: block;
}

.hideSelectedList{
    height: auto;
    display: none;
}

.ParForCategoryTxt,
.ParForCountryTxt{
    color: gray;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
    position: relative;
}

.ParForCategoryTxt::after,
.ParForCountryTxt::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../../../../Assets/Vector.png");
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 15px;
  }

.ParForCategoryTxtSelected,
.ParForCountryTxtSelected{
    color: #f76c29;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
}

.ParForCategoryTxt:hover,
.ParForCountryTxt:hover{
    color: #f76c29;
}

.chooseMe{
    margin-right: 5px;
}

.LinkForCategory,
.LinkForCountry{
    text-decoration: none;
    color: gray;
}

.DivForCategoriesList{
    width: 90%;
    height: auto;
    border-top: 1px solid lightgray;
}

.generalClassForHotels{
    display: flex;
}


@media (max-width: 1150px){
    .CountriesNav{
        width: 214px;
    }
}

@media (max-width: 500px){
    .InputForHotelSearching{
        width: 65%;
    }

    .wrapForRoutes{
        margin-left: 0px;
    }
}
