
  .CountriesSection{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    min-width: 340px;
  }

  .wrapForRoutes{
    width: 47%;
  }

  @media (max-width: 1150px){
    .wrapForRoutes{
      width: 55%;
    }
  }


