.FeedbackSection{
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: 340px;
    background-color: #eff4f8;
    /* overflow: hidden; */
}

.ContainerDiv {
    width: 80%;
}

.DivForH2 {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
}

.Header {
    color: #677b8e;
}

span {
    font-weight: bolder;
}

.DivForSectionList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.divForInput{
    padding: 40px;
    display: flex;
    justify-content: center;
}

.InputForMoreProp{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #677b8e;
    color: rgba(102, 107, 152, 0.791);
    font-size: 16px;
    font-weight: bold;
}

.hideFeedbackBtn{
    display: none;
}

.InputForMoreProp:hover{
    background-color: rgb(107, 182, 107);
    border: none;
    color: white;
}

.DivForAddingFeedback{
    margin-top: 40px;
    width: 94%;
    display: flex;
    justify-content: center;
}

.FeedbackArea{
    height: 80px;
    width: 355px;
    border-radius: 10px 0 0 10px;
}

.FeedbackBtn{
    border-radius: 0 10px 10px 0;
    color: gray;
    border: 1px solid grey;
}





@media (max-width: 460px) {
    .DivForAva,
    .DivForLogoFB{
        display: none;
    }

    .FacebookReviewDiv{
        width: 300px;
    }

    .FeedbackArea{
        width: 100%;
    }
    .DivForSectionList{
        width: auto;
    }
    .ContainerDiv {
        width: auto;
        width: 80%;
    }
}


