
.exactHotelComponent{
  background-color: cornflowerblue;
  min-width: 340px;
}

.divForHotelPictures{
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  position: relative;
  scale: 1;
}

.transparentDivInsidePict{
  width: 100%;
  background-color: rgba(45, 24, 149, 0.3);
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.divForHotelName{
  height: 350px;
  width: 370px;
  display: flex;
  align-items: center;
}

.spanForHtlName{
  color: white;
}

.resortName{
  display: inline-block;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.wrapperForHtlPict {
  width: 700px;
  height: 260px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3px;
  position: relative;
}

.modalForImage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.modalForImage .currentImageInPortal {
  height: 600px;
  width: 880px;
  /* object-fit: contain; */
  border: 3px solid white;
  /* position: relative; */
}

.currentImageInPortal:hover{
  cursor: pointer;
}

.modalForImage:hover::before {
  content: '';
  padding: 12px;
  position: absolute;
  top: 50%;
  left: 30px;
  width: 30px;
  height: 30px;
  border-top: 5px solid white;
  border-right: 5px solid white;
  transform: translateY(-50%) rotate(-135deg);
  z-index: 2;
  cursor: pointer;
}

.modalForImage:hover::after {
  content: '';
  padding: 12px;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 30px;
  height: 30px;
  border-top: 5px solid white;
  border-left: 5px solid #fff;
  transform: translateY(-50%) rotate(135deg);
  z-index: 2;
  cursor: pointer;
}

.closePortalButton{
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-size: 14px;
  width: 23px;
  height: 23px;
  line-height: 18px;
  text-align: center;
  position: absolute;
  top: 60px;
  right: 60px;
  border-radius: 50%;
}

.wrapperForHtlPict::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -13px;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 10px solid #fff;
  cursor: pointer;
}

.wrapperForHtlPict::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -13px;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 10px solid #fff;
  cursor: pointer;
}

.wrapperForHtlPict:hover::after {
  border-left: 10px solid #000;
}

.wrapperForHtlPict:hover::before {
  border-right: 10px solid #000;
}

.linkForOtherPict, .TurkeyHotelPict {
  width: 100%;
  height: 100%;
}

.TurkeyHotelPict {
  border: 1px solid white;
}

.linkForFirstPict, .firstTurkeyPict {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

@media (max-width: 920px){
  .modalForImage .currentImageInPortal {
    height: auto;
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 860px){
  .wrapperForHtlPict {
    width: 700px;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
  }

  .firstTurkeyPict, .TurkeyHotelPict {
    width: 25%;
    height: 50%;
  }

  .transparentDivInsidePict{  
    display: flex;
    flex-direction: column;
  }

  .divForHotelName{
    height: auto;
    width: auto;
    display: flex;
    text-align: center;
  }
}

@media (max-width: 740px){
  .wrapperForHtlPict::after {
    position: absolute;
    top: 50%;
    right: 30px;
  }

  .wrapperForHtlPict::before {
    position: absolute;
    top: 50%;
    left: 30px;
  }
}

@media (max-width: 720px){
  .wrapperForHtlPict {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .linkForOtherPict, .TurkeyHotelPict {
    width: 175px;
    height: 130px;
  }
  
  .linkForFirstPict, .firstTurkeyPict {
    width: 175px;
    height: 130px;
  }
}

@media (max-width: 620px){
  .linkForOtherPict, .TurkeyHotelPict {
  width: 126px;
  height: 95px;
}

.linkForFirstPict, .firstTurkeyPict {
  width: 126px;
  height: 95px;
}
}









