*{
  font-family: 'Roboto Condensed';
}

footer {
    height: 550px;
    width: 100%;
    background-color: rgba(0, 0, 0, 70%);
    background-image: url("../../Assets/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 340px;
  }

  .UpperFooter {
    height: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .DivForFooterWritng{
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .FooterWritng {
    font-weight: 900;
    font-size: 30px;
    color: #98ADCA;
    text-transform: uppercase;
    margin: 0;
  }

  .ContainerForDivs{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
  }

  .DivForFigures{
    padding: 1%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(8, 8, 77);
    color: white;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Roboto Condensed';
    border-radius: 4px;
  }

  .LowerFooter{
    width: 70%;
    display: flex;
  }

  .DivForCol{
    width: 20%;
  }

  .DifWidth{
    width: 30%;
  }

  .H4{
    color: white;
    margin-top: 20px
  }

  .TxtInFooter{
    margin: 0
  }

  .ParInFooter{
    font-size: 20px;
  }

  .A{
    text-decoration: none;
    color: #98ADCA;
  }

  .Offset{
    margin-top: 20px;
    font-weight: 900;
    font-size: 20px;
  }

  .ContactsPar{
    margin: 0;
    color: #98ADCA;
  }

  .DivForSocNets{
    display: flex;   
    /* flex-wrap: wrap; */
  }

  #Fb{ 
    background-image: url("../../Assets/3536394.png");
  }

  #Link{
    background-image: url("../../Assets/Link.png");
    margin-left: 10px;
    border-radius: 4px;
  }

  #Insta{
    background-image: url("../../Assets/2111463.png");
    margin-left: 10px;
  }

  #YouTube{
    background-image: url("../../Assets/3938026.png");
    margin-left: 10px;
  }

  .Icn{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 940px){
    .H4{
      font-size: 18px; 
    }

    .TxtInFooter{
      /* font-size: 20px; */
      font-size: 16px; 
    }

    .ParInFooter{
      font-size: 18px; 
    }

    .ContactsPar{
      font-size: 16px; 
    }

    .Offset{
      /* font-size: 20px; */
      font-size: 18px; 
    }
  }

  @media (max-width: 740px){
    footer {
      height: 950px;
      width: 100%;
    }

    .LowerFooter{
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
    }

    .H4{
      font-size: 20px; 
      margin-top: 0px;
      width: 170px;
      text-align: center;
    }

    .TxtInFooter{
      font-size: 17px; 
      text-align: center;
      width: 170px;
    }

    .ParInFooter{
      font-size: 20px; 
      text-align: center;
      width: 170px;
    }

    .ContactsPar{
      font-size: 17px; 
      text-align: center;
      width: 170px;
    }

    .Offset{
      font-size: 20px; 
      margin-top: 0px;
      text-align: center;
      width: 170px;
    }

    .UpperFooter {
      height: 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #H4ID{
      display: none;
    }

    .DivForCol{
      width: 170px;
    }
  
    .DifWidth{
      width: 170px;
    }

    .DivForSocNets{
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }

    .Icn{
      width: 37px;
      height: 37px;
    }

    .FooterWritng {
      font-size: 25px;
    }
  }
  