.CountryDirectionSectionWrap{
    width: 100%;
    padding-top: 40px;
    overflow: hidden;
}

.OuterdivForPicture{
    width: 100%;
    height: 600px;
}

.OuterPicture{
    width: 100%;
    height: 100%;
}

.DivForCarousel{
    width: 140%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 0;
}

.CarouselPicters{
    width: 14.2%;
    height: 98%;
}

.GeneralDivForText{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapForH4,
.wrapForTxt{
    width: 70%;
}

.HeaderForCountryName{
    padding: 30px 0px 15px 0px;
}

.ParForCountryDescription{
    font-size: 15px;
}