.App {
  text-align: center;
}

/* div {
  width: 100%;
  background-color: grey;
  margin: 0;
}

footer {
  width: 100%;
  background-color: aquamarine;
  padding: 20px;
}

main {
  width: 100%;
  background-color: burlywood;
  display: flex;
}

nav {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
  padding: 20px;
}

section {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: crimson;
  padding: 20px;
} */